# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
pids
*.pid
*.seed
*.pid.lock

# Build output
build/
dist/
public/
.cache/

# Database files (if using local MongoDB)
data/db/
dump/

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp


# Stripe files
stripe/
stripe.log

# Temporary files
tmp/
temp/